name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git checkout --orphan hf-main
          
          # Explicitly track LFS files to satisfy Hugging Face requirements
          git lfs install
          echo "*.pkl filter=lfs diff=lfs merge=lfs -text" >> .gitattributes
          echo "*.pdf filter=lfs diff=lfs merge=lfs -text" >> .gitattributes
          
          # Add all files, respecting the new .gitattributes
          git rm -rf --cached .
          git add .
          
          git commit -m "Automated sync to Hugging Face Hub"
          git push --force https://KevinSigey:$HF_TOKEN@huggingface.co/spaces/KevinSigey/Kalshi_Market_scanner HEAD:main
